<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular - Usualmente en el commonModule</p>
</div>
<hr>
<br>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Uppercase" 
                [subheader]="nombreLower">
                <br />
                {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Lowercase" 
                [subheader]="nombreUpper">
                <br />
                {{ nombreLower | lowercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Titlecase" 
                [subheader]="nombreCompleto">
                <br />
                {{ nombreCompleto | titlecase }}
        </p-card>
    </div>

</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar las fechas.
    </p>
 </div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card>
            <ul>
                <li> Fecha </li>
                <br>
                <li> Fecha | date </li>
                <br>
                <li> Fecha | date: short </li>
                <br>
                <li> Fecha | date: long </li>
                <br>
                <li> Fecha | date: MMMM </li>
                <br>
                <li> Fecha | date: MMMM dd, yyyy </li>
            </ul>

            <hr>
            <ul>
                <li>Fecha | date: 'long':'GMT-6'</li>
                <br>
                <li>Fecha | date: 'long':'GMT-4'</li>
            </ul>



        </p-card>
    </div>
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <br>
                <li>{{ fecha | date }}</li>
                <br>
                <li>{{ fecha | date: 'short'}}</li>
                <br>
                <li>{{ fecha | date: 'long'}}</li>
                <br>
                <li>{{ fecha | date: 'MMMM'}}</li>
                <br>
                <li>{{ fecha | date: 'MMMM dd, yyyy'}}</li>
            </ul>

            <hr>
            <ul>
                <li>{{ fecha | date: 'long':'GMT-6'}}</li>
                <br>
                <li>{{ fecha | date: 'long':'GMT-4'}}</li>
            </ul>

        </p-card>
    </div>
</div>